{% extends 'base.html' %}

{% block content%}
{%csrf_token%}
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="shoppingListNameModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Shopping List Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="shoppingListSelect">
                        {%for listName in shoppingListName.all%}   
                        <option value="{{listName.id}}">{{listName.list_name}}</option>
                        {%endfor%}
                    </select>
                    <div id = "listNameInput" style="visibility: hidden">
                        <input type="text" name="listname" class="form-control" id="listname" aria-describedby="emailHelp" placeholder="Enter List Name" required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary continue_shoplist">Continue</button>
                </div>
            </div>
        </div>
    </div>

<div id="theTable">
    
</div>

<input class="form-control" type="text" readonly id="grandTotal">



{% endblock %}

{% block script%}
<script>
    
    $('#shoppinglist').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                title: 'Shopping List'
            },
            {
                extend: 'pdfHtml5',
                title: 'Shopping List'
            },
            { 
                extend: 'csvHtml5',
                title: 'Shopping List'
            }
        ]
    });

    function calcTotal(tPrice,tQty,tCounter){
      
        price = parseFloat(tPrice).toFixed(2)
        qty = parseFloat(tQty).toFixed(2)
     
        total = price*qty
        $('#total_'+tCounter).val(total)

        tGrandTotal = $('#grandTotal').val();
        if(tGrandTotal==''){
            tGrandTotal = 0.00
        }
        grandTotalCurrent = parseFloat(tGrandTotal);
        grantTotalNew = total+grandTotalCurrent;
        $('#grandTotal').val();
        $('#grandTotal').val(parseFloat(grantTotalNew).toFixed(2));


    }

    $('#shoppingListNameModal').modal({
            backdrop:'static',
            show:true
    });

    function buildTable(tData){
        tTable = "<table><thead>";
        tTable += "<th>Name</th><th>List Price</th><th>Price</th><th>Qty</th><th>Total</th></thead><tbody>"
        $.each(tData,function(key,value){
            tTable += "<tr><td>"+value['name']+"</td><td>"+value['price']+"</td>"+
            "<td><input type='text' name ='price' class='form-control price' pattern='[0-9]*' id='price_"+value['id']+"' counter = '"+value['id']+"' inputmode='numeric' value='0'></td>"+
            "<td><input type='text' name ='qty' class='form-control qty' pattern='[0-9]*' id='qty_"+value['id']+"' counter = '"+value['id']+"' inputmode='numeric' value='0'></td>"+
            "<td><input type='text' name ='price' class='form-control lineTotal' pattern='[0-9]*' id='total_"+value['id']+"' counter = '"+value['id']+"' inputmode='numeric' value='0' disabled='disabled'></td></tr>";
        })
        tTable += "</tbody></table>"
        $('#theTable').empty().append(tTable);
        $('#theTable table').attr('id', 'itemlist').attr('class','display').css('width','100%');

    }

    $('.continue_shoplist').on('click',function(e){
        listId=$(this).val();
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: 'getItemList',
            data:{
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                listId: listId,
            },
            success:function(result){
                console.log(result)
                buildTable(result)
                $('#itemlist').dataTable();
                $('#shoppingListNameModal').modal('hide');
            },
            error:function(result){
                console.log(result)
            }
        })
       
    })

    $('#theTable').on('focusout','#itemlist .price',function(){
        let tCounter = $(this).attr('counter');
        let tPrice = $(this).val();
        let tQty = $('#qty_'+tCounter).val();
        calcTotal(tPrice,tQty,tCounter)
    })

    $('#theTable').on('focusout','#itemlist .qty',function(){
        let tCounter = $(this).attr('counter');
        let tQty = $(this).val();
        let tPrice = $('#price_'+tCounter).val();
        calcTotal(tPrice,tQty,tCounter)
    })

</script>

{% endblock%}



